.register-background{
    background-image: linear-gradient(to bottom, #f3f4fb13, #76135d73),
    url("../../images/login/beach.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
