.testimonial-banner {
  background-image: linear-gradient(to bottom, #f3f4fb17, #76135d67),
    url("../../images/testimonial/nature.jpeg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
